h3 {

}
body {
	box-sizing: border-box;
	text-align: center;
	font-family: 'Francois One', sans-serif;
	margin:0;
}
.your-class {
	width: 100%;
	text-align: center;
}

.your-class div {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #b4b1b1;
}
.projects {
	margin-bottom: 30px;
}
img{
	width: 100%;
}
.main { top:0; left:0; height:100%; width:100% }

.intro {
	margin: 50px 0 50px 0;
}
footer {
	margin: 30px 0 30px 0;
}
#Layer_1, #Layer_2 {
	width: 30px;
	height:30px;
	margin-left: 10px;
}
